In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv("house_data")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596 entries, 0 to 1595
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          1596 non-null   object
 1   district      1596 non-null   object
 2   neighborhood  1596 non-null   object
 3   room          1596 non-null   int64
 4   living_room   1596 non-null   int64
 5   area          1596 non-null   int64
 6   age           1596 non-null   int64
 7   floor         1596 non-null   int64
 8   price         1596 non-null   int64
dtypes: int64(6), object(3)
memory usage: 112.3+ KB

In [7]:
df["city"]= df["city"].astype("category")
df["district"]= df["district"].astype("category")
df["neighborhood"]= df["neighborhood"].astype("category")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596 entries, 0 to 1595
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          1596 non-null   category
 1   district      1596 non-null   category
 2   neighborhood  1596 non-null   category
 3   room          1596 non-null   int64
 4   living_room   1596 non-null   int64
 5   area          1596 non-null   int64
 6   age           1596 non-null   int64
 7   floor         1596 non-null   int64
 8   price         1596 non-null   int64
dtypes: category(3), int64(6)
memory usage: 107.5 KB

In [10]:
columns = df.select_dtypes(include=[np.number]).columns
min_values=[]
max_values=[]

for column in columns:
    Q1=df[column].quantile(0.25)
    Q3= df[column].quantile(0.75)
    IQR = Q3-Q1
    min_value = Q1-1.5*IQR
    max_value = Q1 + 1.5* IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column: {column}, min: {min_value}, max: {max_value}")

Column: room, min: 0.5, max: 3.5
Column: living_room, min: 1.0, max: 1.0
Column: area, min: -10.0, max: 170.0
Column: age, min: -25.0, max: 35.0
Column: floor, min: -3.5, max: 5.5
Column: price, min: -11000.0, max: 43000.0

In [11]:
for i, column in enumerate(columns):
    df = df[(df[column] >= min_values[i]) & (df[column] <= max_values[i])]

In [12]:
df.describe()

,room,living_room,area,age,floor,price
count,1084.000000,1084.0,1084.000000,1084.000000,1084.000000,1084.000000
mean,2.075646,1.0,100.205720,14.154059,2.261070,21044.182657
std,0.756503,0.0,33.027803,11.302410,1.624807,7951.782145
min,1.000000,1.0,30.000000,0.000000,-3.000000,4000.000000
25%,1.000000,1.0,70.000000,4.000000,1.000000,15000.000000
50%,2.000000,1.0,100.000000,11.000000,2.000000,20000.000000
75%,3.000000,1.0,125.000000,25.000000,3.000000,26000.000000
max,3.000000,1.0,170.000000,35.000000,5.000000,43000.000000

In [13]:
df.to_csv('data_cleaned.csv', index=False)